*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*Imagen de fondo*/
body{
    background-image: url(/img/wall.jpg);
}

.nav{
    background: #ffff;
}

/*Imagen de la izquierda*/

#imagen{
    
    
    object-fit:contain;
}

/*Formulario Login*/

.formulario{
    padding: 1em;
    width: 380px;
    background: #ffff;
    
    font-size: 14px;
}

.formulario h1{
    margin-top: 0.2em;
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid silver;
}

/*Centrar correo y contraseña haciendolas mas pequeñas*/
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

/*Lineas de correo y contraseña con margenes entre elementos*/
form .email {
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

form .password__class{
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

/*Tamaño de los input*/

.formulario input{
    width: 90%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/*Iconos de correo y mostrar contraseña*/

#view{
    cursor: pointer;
    opacity: 0.3;
}

#view:hover{
    opacity: 0.8;
}

.mail{
    opacity: 0.3;
}


/*¿Has olvidado tu contraseña?*/

.remember{
    margin: -5px 0 20px 5px;
    color: #0000ff;
    cursor: pointer;
}
.remember:hover{
    text-decoration: underline;
}

/*Boton de iniciar sesión*/

button[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6C3483;
    border-radius: 25px;
    font-size: 15px;
    color: #ffff;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover{
    border-color: #800080;
    transition: .5s;
}

/*¿Todavía no te has registrado?*/

.register{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #000000;
}
.register a{
    font-size: 14px;
}


