<!DOCTYPE html>

<body>
    <main th:fragment="admin" class="container-fluid flex-nowrap d-flex">
        <div class="col-12 py-2 mx-3">
            <!--Header y filtros-->
            <div>
                <h1>Usuarios</h1>
                <button type="button" onclick="location.href='/usuario/create'" class="btn btn-primary mb-1">Nuevo Usuario</button>
                    <form action="#" method="get">
                        <input type="text" placeholder="Término a Filtrar" name="filtro">
                        <select name="tipoIncidencia" id="">
                            <option value="0">Acerado</option>
                            <option value="1">Aguas</option>
                            <option value="2">Alumbrado</option>
                            <option value="3">Arquetas</option>
                            <option value="4">Cableado</option>
                            <option value="5">Calzada</option>
                            <option value="6">Carril bici</option>
                            <option value="7">Fuentes</option>
                            <option value="8">Jardines y zonas verdes</option>
                            <option value="9">Limpieza</option>
                            <option value="10">Medio ambiente</option>
                            <option value="11">Mobiliario urbano</option>
                            <option value="12">Monumentos</option>
                            <option value="13/taxi">Parada bus/taxi</option>
                            <option value="14">Parques infantiles</option>
                            <option value="15">Plagas</option>
                            <option value="16">Playas</option>
                            <option value="17">Saneamiento</option>
                            <option value="18">Semáforos</option>
                            <option value="19">Tráfico y señalización</option>
                            <option value="20">Vallas de obra</option>
                        </select>
                        <input type="submit" value="Filtrar" class="btn btn-secondary ms-2 mt-1">
                    </form>
                </div>
            <!--Tabla-->
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Contrasena</th>
                        <th>DNI</th>
                        <th>Extension</th>
                        <th>Departamento</th>
                        <th>Rol</th>
                        <th>Borrado</th>
                        <th>Acciones</th> <!-- Nueva columna para las acciones -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usuario : ${entities}">
                        <td th:text="${usuario.id}"></td>
                        <td th:text="${usuario.email}"></td>
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.apellido}"></td>
                        <td th:text="${usuario.sexo}"></td>
                        <td th:text="${usuario.contrasena}"></td>
                        <td th:text="${usuario.dni}"></td>
                        <td th:text="${usuario.extension}"></td>
                        <td th:text="${usuario.departamento}"></td>
                        <td th:text="${usuario.rol?.nombre}"></td>
                        <td th:text="${usuario.borradoLogico}"></td>
                        <td>
                            <a th:href="@{/usuario/edit/{id}(id=${usuario.id})}" class="btn btn-primary">Editar</a>
                            <a th:href="@{/usuario/logic/{id}(id=${usuario.id})}" class="btn btn-danger"
                               onclick="return confirm('Seguro que quieres activar/desactivar esta entidad?');">Activar/Desactivar</a>
                        </td> <!-- Columna para los botones de edición y eliminación -->
                    </tr>
                    </tbody>
                </table>
                </div>
        </div>
    </main>

</body>
</html>