<!DOCTYPE html>

<body>
    <main th:fragment="admin" class="container-fluid flex-nowrap d-flex">
        <div class="col-10 py-2 mx-3">
            <!--Header y filtros-->
            <div>
                    <h1>Usuarios</h1>
                    <button type="button" onclick="location.href='URL DESTINO'"
                        class="btn btn-primary mb-1">Nueva Incidencia</button>
                    <form action="#" method="get">
                        <input type="text" placeholder="Término a Filtrar" name="filtro">
                        <select name="tipoIncidencia" id="">
                            <option value="0">Acerado</option>
                            <option value="1">Aguas</option>
                            <option value="2">Alumbrado</option>
                            <option value="3">Arquetas</option>
                            <option value="4">Cableado</option>
                            <option value="5">Calzada</option>
                            <option value="6">Carril bici</option>
                            <option value="7">Fuentes</option>
                            <option value="8">Jardines y zonas verdes</option>
                            <option value="9">Limpieza</option>
                            <option value="10">Medio ambiente</option>
                            <option value="11">Mobiliario urbano</option>
                            <option value="12">Monumentos</option>
                            <option value="13/taxi">Parada bus/taxi</option>
                            <option value="14">Parques infantiles</option>
                            <option value="15">Plagas</option>
                            <option value="16">Playas</option>
                            <option value="17">Saneamiento</option>
                            <option value="18">Semáforos</option>
                            <option value="19">Tráfico y señalización</option>
                            <option value="20">Vallas de obra</option>
                        </select>
                        <input type="submit" value="Filtrar" class="btn btn-secondary ms-2 mt-1">
                    </form>
                </div>
            <!--Tabla-->
            <div>
                    <table class="table" id="myTable2">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Email</th>
                                <th scope="col">DNI</th>
                                <th scope="col">Sexo</th>
                                <th scope="col">Verificado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@Otto</td>
                                <td>74125896H</td>
                                <td>V</td>
                                <td>NN</td>
                                <td>
                                    <button type="button" class="btn btn-primary mb-1 mb-lg-0 px-2"
                                        onclick="location.href='URL DESTINO'"><i class="bi-eye me-2"></i>Ver</button>
                                    <button type="button" class="btn btn-primary mb-1 mb-lg-0 px-md-2 py-md-1 px-0"
                                        onclick="location.href='URL DESTINO'"><i
                                            class="bi-pencil-square me-2"></i>Editar</button>
                                    <button type="button" class="btn btn-danger px-md-2 py-md-1 px-0"
                                        onclick="location.href='URL DESTINO'"><i
                                            class="bi-trash3 me-2"></i>Borrar</button>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td scope="row">3</td>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </main>

</body>
</html>