<!DOCTYPE html >

<body>
<div th:fragment="entity-details" class="container">
    <h1>Editar Empleado</h1>
    <form th:action="@{/usuario/{id}(id=${id})}" th:method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="email" name="email" th:field="*{entity.email}">
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{entity.nombre}">
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{entity.apellido}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</body>
</html>