<!DOCTYPE html>


<body>

        <main th:fragment="registro" class="row">
            <section class="border p-5" style="background-color: rgb(207, 207, 249);">
                <div class="row">
                  <div class="col-12">
                    <div class="card text-black" style="border-radius: 25px;">
                      <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                          <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          
                            <p class="text-center h1 fw-bold mb-5 mt-4">Registrarse</p>
          
                            <form th:action="@{/usuario/create}" th:method="post">

<!--                              <div class="mb-3">-->
<!--                                <label for="id" class="form-label"></label>-->
<!--                                <input type="hidden" class="form-control hidden" id="id" name="id" th:field="*{entity.id}">-->
<!--                              </div>-->
                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="text" id="nombre" class="form-control" th:field="*{entity.nombre}">
                                  <label class="form-label" for="nombre" style="margin-left: 0px;" name="nombre" >Nombre</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div></div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="text" id="apellido" class="form-control" th:field="*{entity.apellido}">
                                  <label class="form-label" for="apellido" style="margin-left: 0px;" name="apellido">Apellido</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div></div>
                              </div>
                              
                              <!--<div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="password" id="contrasena" class="form-control">
                                  <label class="form-label" for="contrasena" style="margin-left: 0px;">Contraseña</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>
                              </div>
          
                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                  <input type="password" id="contrasena2" class="form-control">
                                  <label class="form-label" for="contrasena2" style="margin-left: 0px;" name="contrasena2">Repite tu contraseña</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 136px;"></div><div class="form-notch-trailing"></div></div></div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline">
                                  <input type="text" id="dni" class="form-control">
                                  <label class="form-label" for="dni" style="margin-left: 0px;" name="dni">DNI</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div></div>
                              </div>

                              <div class="d-flex flex-row align-items-center mb-5 ">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <h6 class="mb-0 me-4">Género: </h6>
                                <div class="form-check form-check-inline mb-0 me-4">
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="femaleGender"
                                    value="option1"
                                  />
                                  <label class="form-check-label" for="femaleGender">Mujer</label>
                                </div>
              
                                <div class="form-check form-check-inline mb-0 me-4">
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="maleGender"
                                    value="option2"
                                  />
                                  <label class="form-check-label" for="maleGender">Hombre</label>
                                </div>
              
                                <div class="form-check form-check-inline mb-0">
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="inlineRadioOptions"
                                    id="otherGender"
                                    value="option3"
                                  />
                                  <label class="form-check-label" for="otherGender">Otro</label>
                                </div>
                              </div>
          
                              <div class="form-check d-flex justify-content-center mb-4 ">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c">
                                <label class="form-check-label" for="form2Example3c">
                                  Acepto todos los términos en <a href="#!">Condiciones de uso</a>
                                </label>
                              </div>-->
          
                              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
                              </div>
          
                            </form>
          
                          </div>
                          <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
          
                            <img src="/img/Escudo_de_Mijas_(Málaga).svg.png" class="img-fluid" alt="Sample image">
          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            
        </main>
</body>
</html>