<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
</head>
<body>
<header th:replace="fragments/header :: header">
</header>
<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            <h2>Columna principal</h2>
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>
<footer>
    footer @2023
</footer>

</body>
</html>