<!DOCTYPE html>
<html lang="en">
<body>
<footer class="fixed-bottom row row-cols-1 row-cols-sm-2 row-cols-md-4 py-3 px-5 border-top ">

  <div class="col mb-1">
    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
      <img src="/static/img/incidencia_logo.png" alt="" style="width: 120px; filter: hue-rotate(250deg);">
    </a>
    <p style="font-weight: 400;">© Incideitor 2023</p>
  </div>

  <div class="col mb-1 pt-2">
    <ul class="nav flex-column" style="background: none;">
      <li th:text="#{footer.inicio}" class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary"></a></li>
      <li th:text="#{footer.cuenta}" class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
      <li th:text="#{footer.incidencias}" class="nav-item mb-2"><a href="/incidencia/create" class="nav-link p-0 text-body-secondary"></a></li>
    </ul>
  </div>

  <div class="col mb-1 pt-2">
    <ul class="nav flex-column" style="background: none;">
      <li th:text="#{footer.nosotros}" class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-body-secondary"></a></li>
      <li th:text="#{footer.faq}" class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
      <li th:text="#{footer.terminos}" class="nav-item mb-2"><a href="/terminos-y-condiciones" class="nav-link p-0 text-body-secondary"></a></li>

    </ul>
  </div>

</footer>
</body>
</html>