<!DOCTYPE html>
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>

    <div th:fragment="navbar" class="row">
        <nav class="nav navbar navbar-expand-lg" aria-label="Eleventh navbar example">
            <div class="container-fluid d-flex">
                <a class="navbar-brand" href="/"> <img src="/img/Escudo_de_Mijas_(Málaga).svg.png" alt="logo"
                                                                style="width: 50px;"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a th:text="#{navbar.inicio}" class="nav-link active text-black" aria-current="page" href="/"></a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMINISTRADOR')">
                            <a th:text="#{navbar.incidencias}" class="nav-link text-black" href="/incidencia/admin"></a>
                        </li>
                        <li class="nav-item">
                            <a th:text="#{navbar.misindicencias}" class="nav-link text-black" href="/incidencia/misincidencias"></a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMINISTRADOR')">
                            <a th:text="#{navbar.usuarios}" class="nav-link text-black" href="/usuario/admin"></a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMINISTRADOR')">
                            <a th:text="#{navbar.reportes}" class="nav-link text-black" href="/reporte/admin"></a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMINISTRADOR')">
                            <a th:text="#{navbar.ayuntamiento}" class="nav-link text-black" href="/ayuntamiento/admin"></a>
                        </li>
                        <li class="nav-item" >
                            <a th:text="#{navbar.nueva}" class="nav-link text-black" href="/incidencia/create"></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button" id="dropdown"
                               data-bs-toggle="dropdown" aria-expanded="false" th:text="#{idioma.idioma}">
                                <img src="/img/logoUsuario.png" alt="Logo" width="20" height="20" class="d-inline-block align-text-top"> </a>
                                <ul class="dropdown-menu" id="locales">
                                    <li><a class="dropdown-item" value="es" th:text="#{lang.es}"></a></li>
                                    <li><a class="dropdown-item" value="en" th:text="#{lang.en}"></a></li>
                                </ul>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a th:text="#{navbar.acceso}" class="nav-link text-black" href="/acceso/login"></a>
                        </li>
                        <li class="nav-item dropdown " sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button" id="dropdown"
                               data-bs-toggle="dropdown" aria-expanded="false" th:text="#{navbar.area}">
                                <img src="/img/logoUsuario.png" alt="Logo" width="20" height="20" class="d-inline-block align-text-top">

                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:text="#{navbar.miperfil}" class="dropdown-item" href="/usuario/miperfil"></a></li>
                                <li><a class="dropdown-item" href="/notificacion/misNotificaciones">
                                        <span th:text="#{navbar.misnotificaciones}"></span>
                                        <span th:if="${contador != null}" th:text="${' (' + contador + ')'}"></span>
                                    </a>
                                </li>
                                <li><a th:text="#{navbar.misindicencias}" class="dropdown-item" href="/incidencia/all"></a></li>
                                <li><a th:text="#{navbar.nuevaincidencia}" class="dropdown-item" href="/incidencia/create"></a></li>
                                <li><a th:text="#{navbar.logout}" class="dropdown-item" href="/logout"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>