<!DOCTYPE html>
    <div th:fragment="navbar" class="col-12">
        <nav class="nav navbar navbar-expand-lg" aria-label="Eleventh navbar example">
            <div class="container-fluid d-flex">
                <a class="navbar-brand" href="index.html"> <img src="/img/Escudo_de_Mijas_(Málaga).svg.png" alt="logo"
                                                                style="width: 50px;"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-black" aria-current="page" href="/">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/incidencia/admin">INCIDENCIAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/usuario/admin">USUARIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/reporte/admin">REPORTES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/ayuntamiento/admin">AYUNTAMIENTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/incidencia/create">NUEVA INCIDENCIA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="/acceso/login">ACCESO</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button" id="dropdown"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/img/logoUsuario.png" alt="Logo" width="20" height="20"
                                     class="d-inline-block align-text-top">
                                ÁREA PERSONAL
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/usuario/miperfil">
                                    Mi perfil</a></li>
                                <li><a class="dropdown-item" href="/usuario/notificaciones">Mis notificaciones
                                    <span th:text="${contador != null ? '(' + contador + ')' : ''}"></span> </a></li>
                                <li><a class="dropdown-item" href="/incidencia/all">Mis incidencias</a></li>
                                <li><a class="dropdown-item" href="/incidencia/create">Nueva incidencia</a></li>
                                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>