<!DOCTYPE html>
<body>
    <div th:fragment="all-entities" class="container-fluid">
        <div class="border-bottom"></div>
        <main class="container">
            <div class="row">
                    <div class="mt-5">
                        <h1>Todas las Incidencias</h1>
                        <div class="mt-4">
                            <select name="tabla_incidencia" id="filtro">
                                <option value="">Selecciona filtro</option>
                                <option value="0">Acerado</option>
                                <option value="1">Aguas</option>
                                <option value="2">Alumbrado</option>
                                <option value="3">Arquetas</option>
                                <option value="4">Cableado</option>
                                <option value="5">Calzada</option>
                                <option value="6">Carril bici</option>
                                <option value="7">Fuentes</option>
                                <option value="8">Jardines y zonas verdes</option>
                                <option value="9">Limpieza</option>
                                <option value="10">Medio ambiente</option>
                                <option value="11">Mobiliario urbano</option>
                                <option value="12">Monumentos</option>
                                <option value="13">Parada bus/taxi</option>
                                <option value="14">Parques infantiles</option>
                                <option value="15">Plagas</option>
                                <option value="16">Playas</option>
                                <option value="17">Saneamiento</option>
                                <option value="18">Semáforos</option>
                                <option value="19">Tráfico y señalización</option>
                                <option value="20">Vallas de obra</option>
                            </select>
                            <input type="submit" value="Filtro" class="btn btn-secondary ">
                        </div>
                    </div>
                    <div class="mt-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Tipo de incidencia</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Ayuntamiento</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="incidencia: ${entities}">
                                    <td th:text="${incidencia.id}"></td>
                                    <td th:text="${incidencia.titulo}"></td>
                                    <td th:text="${incidencia.descripcion}"></td>
                                    <td th:text="${incidencia.fecha}"></td>
                                    <td></td>
                                    <td th:text="${incidencia.usuario.nombre}"></td>
                                    <td th:text="${incidencia.ayuntamiento.nombre}"></td>
                                    <td></td>
                                    <td>
                                        <a th:href="@{/incidencia/{id}(id=${incidencia.id})}" class="btn btn-primary">Editar</a>
                                        <a th:href="@{/incidencia/delete/{id}(id=${incidencia.id})}" class="btn btn-danger" onclick="return confirm('Seguro que quieres borrar esta incidencia?');">Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </main>
    </div>
</body>
