<!DOCTYPE html>
<head>

</head>

<body>
    <div class="container-fluid">

        <main th:fragment="crear_incidencias">
            <div id="container" class="container-fluid col-8">
                <div class="col-sm-6">
                    <form id="formulario_incidencia" action="URL A LA QUE ENVIO EL FORMULARIO" method="post" enctype="multipart/form-data" ></form>
                            <div class="row formulario_items mb-4">
                                <label for="tipo_incidencia" id="titulo">Selecciona el tipo de incidencia:*</label>
                                <select name="tabla_incidencia" id="tipo_incidencia" onchange="crearListaDesplegable()" required>
                                <option value="">Seleccion incidencia</option>
                                            <option value="0">Acerado</option>
                                            <option value="1">Aguas</option>
                                            <option value="2">Alumbrado</option>
                                            <option value="3">Arquetas</option>
                                            <option value="4">Cableado</option>
                                            <option value="5">Calzada</option>
                                            <option value="6">Carril bici</option>
                                            <option value="7">Fuentes</option>
                                            <option value="8">Jardines y zonas verdes</option>
                                            <option value="9">Limpieza</option>
                                            <option value="10">Medio ambiente</option>
                                            <option value="11">Mobiliario urbano</option>
                                            <option value="12">Monumentos</option>
                                            <option value="13">Parada bus/taxi</option>
                                            <option value="14">Parques infantiles</option>
                                            <option value="15">Plagas</option>
                                            <option value="16">Playas</option>
                                            <option value="17">Saneamiento</option>
                                            <option value="18">Semáforos</option>
                                            <option value="19">Tráfico y señalización</option>
                                            <option value="20">Vallas de obra</option>
                                </select>
                            </div>
                        <div class="row formulario_items mb-4" id="contenedor"></div>
                        <div class="row tipo_incidencia mb-4">
                            <label for="titulo">Titulo:*</label>
                            <input type="text" name="titulo" id="titulo_incidencia" placeholder="Introduce el título" size="14" maxlength="150"  required/>
                        </div>

                        <div class="row direccion_incidencia mb-4">
                            <label for="direccion_incidencia">Dirección:*</label>
                            <input type="text" name="direccion_incidencia" id="direccion_incidencia" size="20" maxlength="200"  required>
                        </div>

                        <div class="row descripcion mb-4">
                            <label for="textarea-descripcion">Descripcion:*</label>
                            <textarea class="form-control" id="textarea-descripcion" rows="3" ></textarea>
                        </div>

                        <div class="row fecha_incidencia mb-4">
                            <label for="fecha_incidencia">Fecha:*</label>
                            <input type="date" name="fecha_incidencia" id="fecha_incidencia" size="5"  required>
                        </div>

                        <div class="row fotos mb-4">
                            <label for="imagenes_incidencia">Inserta imagen:</label>
                            <input type="file" name="imagenes_incidencia" id="imagenes_incidencia">
                        </div>

                        <div class="boton_guardar">
                            <a th:href="@{/incidencia/all}">
                            <input type="button" name="guardar" class="btn btn-primary" value="Guardar los cambios" onclick=mostrarMensaje()>
                            </a>
                        </div>

                        <div class="reseteo">

                            <input type="reset" name="reseteo" class="btn btn-primary" value="Borrar los datos introducidos"/> <br>

                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>  
</body>

</html>