<!DOCTYPE html>

<body>
<main th:fragment="entity-details" class="container-fluid">
    <div class="fondo row">
        <div class="container">
            <div class="border-bottom">
                <div class="row col-12 mb-5">
                    <div class="col-md-5 col-sm-6 mt-4 mb-3 px-5">
                        <div id="carouselExample" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" th:each="file, index : ${uploads}">
                                <div class="carousel-item" th:classappend="${index == 0} ? 'active'">
                                    <img class="d-block w-100" th:src="${file.originalFilename}"
                                         th:alt="'Imagen ' + ${index + 1}" style="height: 425px;" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" th:src="${file.originalFilename}"
                                         th:alt="'Imagen ' + ${index + 1}" style="height: 425px;" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" th:src="${file.originalFilename}"
                                         th:alt="'Imagen ' + ${index + 1}" style="height: 425px;" />
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 mt-4 mb-5 px-4" style="background-color: #ffffff;">
                        <form th:action="@{/incidencia/{id}(id=${id})}" th:method="post" >
                            <div class="col-md-12 mt-3 border-bottom">
                                <label for="titulo" class="form-label">Titulo</label>
                                <input type="text" class="form-control" id="titulo" name="titulo"
                                       th:field="*{entity.titulo}">
                            </div>
                            <div class="col-md-12 mt-4">
                                <label for="fecha" class="form-label">Fecha: </label>
                                <input type="date" class="form-control" id="fecha" name="fecha"
                                       th:field="*{entity.fecha}">
                            </div>
                            <div class="col-md-12 mt-5">
                                <label for="descripcion" class="form-label">Descripcion</label>
                                <textarea class="form-control" id="descripcion" name="descripcion"
                                          th:field="*{entity.descripcion}"> </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mt-5">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>