<!DOCTYPE html>

<body>
<div class="container-fluid">
    <main th:fragment="registro" >
        <div id="container" class="container-fluid col-8">
            <div class="col-sm-6">

                <form id="formulario_incidencia" action="/incidencia/create" method="post" enctype="multipart/form-data" onsubmit="alert('enviado!')">
                    <div class="row formulario_items mb-4">
<!--                        Primer desplegable, se recarga la pagina al elegir la opcion con js-->
                        <label for="incidenciaPadre">Incidencia padre:</label>
                        <select id="incidenciaPadre" name="incidenciaPadre" onchange="recargarPagina()">
                            <option value="">Seleccionar</option>
                            <option th:if="${tipo.incidenciaPadre?.id == 999999}" th:each="tipo : ${tiposIncidencia}" th:value="${tipo.id}" th:text="${tipo.nombre}" th:selected="${tipo.id} == ${incidenciaPadre}"></option>
                        </select>
    <!--                    Segundo desplegable, se genera según la primera opción-->
                        <label for="incidenciaHijo">Incidencia hijo:</label>
                        <select id="incidenciaHijo" name="incidenciaHijo" th:field="*{entity.tipoIncidencia}">
                            <option value="">Seleccionar</option>
                            <option th:each="tipo : ${tiposIncidencia}" th:if="${tipo.incidenciaPadre != null and tipo.incidenciaPadre.id == incidenciaPadre}"
                                    th:value="${tipo.id}" th:text="${tipo.nombre}" ></option>
                        </select>

                        <div class="row tipo_incidencia mb-4">
                            <label for="titulo">Titulo:*</label>
                            <input type="text" name="titulo" id="titulo" placeholder="Introduce el título" size="20" minlength="15" maxlength="150" required th:field="*{entity.titulo}">
                        </div>
    <!--                    <div class="row direccion_incidencia mb-4">-->
    <!--                        <label for="direccion_incidencia">Dirección:*</label>-->
    <!--                        <input type="text" name="direccion_incidencia" id="direccion_incidencia" size="20" minlength="15" maxlength="200" required th:field="*{direccion}">-->
    <!--                    </div>-->

                        <div class="row descripcion mb-4">
                            <label for="textarea-descripcion">Descripcion:*</label>
                            <textarea class="form-control" id="textarea-descripcion" rows="3" th:field="*{entity.descripcion}"></textarea>
                        </div>

                        <div class="row fotos mb-4">
                           <label path="file">Inserta imagen:</label>
                           <input type="file" name="file" id="imagenes_incidencia" accept="image/png, image/jpeg">
                        </div>

                        <div class="row fotos mb-4">
                            <label path="file">Inserta imagen:</label>
                            <input type="file" name="file2" id="imagenes_incidencia2" accept="image/png, image/jpeg">
                        </div>

                        <div class="row fotos mb-4">
                            <label path="file">Inserta imagen:</label>
                            <input type="file" name="file3" id="imagenes_incidencia3" accept="image/png, image/jpeg">
                        </div>


                        <div class="boton_guardar mb-1">
                            <button type="submit" name="guardar" class="btn btn-primary" value="Guardar los cambios">Guardar los cambios</button>
                        </div>

                        <div class="reseteo">
                            <input type="reset" name="reseteo" class="btn btn-primary" value="Borrar los datos introducidos"/> <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
