header[class~=tittle]{
    height: 75px;
    background-image: url("../img/VistaPanoramicaMijas.jpg");
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}