body {
    background: rgb(64, 119, 221)
}

.form-control:focus {
    box-shadow: none;
    border-color: #f1f0f1
}

.profile-button {
    background: rgb(13, 33, 145);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #0e108f
}

.profile-button:focus {
    background: #0b2099;
    box-shadow: none
}

.profile-button:active {
    background: #3b32b9;
    box-shadow: none
}

.back:hover {
    color: #231c80;
    cursor: pointer
}

.labels {
    font-size: 15px
}