<!DOCTYPE html>

<body>

<div th:fragment="admin" class="container-fluid flex-nowrap d-flex">
    <div class="col-10 py-2 mx-3">
    <h1>Ayuntamientos</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th> <!-- Nueva columna para las acciones -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="ayuntamiento : ${entities}">
            <td th:text="${ayuntamiento.id}"></td>
            <td th:text="${ayuntamiento.nombre}"></td>
            <td>
                <a th:href="@{/ayuntamiento/{id}(id=${ayuntamiento.id})}" class="btn btn-primary">Editar</a>
                <a th:href="@{/ayuntamiento/delete/{id}(id=${ayuntamiento.id})}" class="btn btn-danger">Eliminar</a>
            </td> <!-- Columna para los botones de edición y eliminación -->
        </tr>
        </tbody>
    </table>
    <a th:href="@{/ayuntamiento/create}" class="btn btn-alert">Nuevo</a>
</div>
</div>
</body>
