<!DOCTYPE html>

<body xmlns:th="http://www.w3.org/1999/xhtml">

<div th:fragment="all-entities" class="container">
    <h1>Todos los ayuntamientos</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th> <!-- Nueva columna para las acciones -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="ayuntamiento : ${entities}">
            <td th:text="${ayuntamiento.id}"></td>
            <td th:text="${ayuntamiento.nombre}"></td>
            <td>
                <a th:href="@{/ayuntamiento/{id}(id=${ayuntamiento.id})}" class="btn btn-primary">Editar</a>
                <a th:href="@{/ayuntamiento/delete/{id}(id=${ayuntamiento.id})}" class="btn btn-danger" onclick="return confirm('Seguro que quieres borrar esta entidad?');">Eliminar</a>
            </td> <!-- Columna para los botones de edición y eliminación -->
        </tr>
        </tbody>
    </table>
    <a th:href="@{/ayuntamiento/create}" class="btn btn-alert">Nuevo</a>
</div>
</body>
</html>