<!DOCTYPE html>

<body>

<div th:fragment="all-entities" class="container">
    <h1>Todos los reportes</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Categoría</th>
            <th>Descripción</th>
            <!--<th>Incidencia</th>-->
            <th>Acciones</th> <!-- Nueva columna para las acciones -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="reporte : ${entities}">
            <td th:text="${reporte.id}"></td>
            <td th:text="${reporte.categoria}"></td>
            <td th:text="${reporte.descripcion}"></td>
            <!-- <td th:text="${reporte.incidencia}"></td>-->
             <td>
                 <a th:href="@{/reporte/{id}(id=${reporte.id})}" class="btn btn-primary">Editar</a>
                 <a th:href="@{/reporte/delete/{id}(id=${reporte.id})}" class="btn btn-danger" onclick="return confirm('Seguro que quieres borrar esta entidad?');">Eliminar</a>
             </td> <!-- Columna para los botones de edición y eliminación -->
        </tr>
        </tbody>
    </table>
    <a th:href="@{/reporte/create}" class="btn btn-alert">Nuevo</a>
</div>
</body>
</html>