<!DOCTYPE html >

<body>
<div th:fragment="entity-details" class="container">
    <h1>Editar Empleado</h1>
    <form th:action="@{/reporte/{id}(id=${id})}" th:method="post">
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoría</label>
            <input type="text" class="form-control" id="categoria" name="categoria" th:field="*{entity.categoria}">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" th:field="*{entity.descripcion}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</body>
</html>