<!DOCTYPE html>

<body>

<div th:fragment="principal" class="row tutorial py-0">

    <main class="container-fluid">
        <div class="text-center row py-5">
            <div class="col-12 col-lg-6 p-lg-12 mx-auto ">
                <video src="video/video.mp4" class="video_tutorial" controls> Video</video>
            </div>
            <div class="col-md-6 d-none d-lg-block">
                <div class="mt-5 texto_principal rounded-2">
                    <div class="col-12 texto_principal_titulo">
                        <h2 th:text="#{home.bienvenida}"> </h2>
                    </div>
                    <div class="col-12 texto_principal_texto">
                        <span th:text="#{home.texto}"> </span>
                    </div>
                </div>

            </div>
        </div>
        <section class="row noticias">
            <div class="arreglos col-12">
                <h3 th:text="#{home.incidencias}" class="text-center"></h3>
            </div>

            <!--
            La funcion del contenido de este div es el de crear tres cartas a las que le vamos a pasar
            las 3 incidencias que hemos encontrado en el MainController de tal forma que mediante un carrusel mostremos
            las tres fotos asociadas a la incidencia y la descripción de la misma en cada una de las tres cartas
            que hemos creado
            -->
            <div class="card-container d-flex col-12">
                <div class="row col-12">
                    <div class="col-4 d-flex">
                        <div class="card">
                            <div id="carouselExample1" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div th:each="picture, iterStat : ${listaFotos1}">
                                        <div th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                            <img th:src="@{'/uploads/incidencia/'+${ultimaIncidencia.id}+'/'+${picture}}"
                                                 class="card-img-top">
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${ultimaIncidencia.descripcion}"></p>
                            </div>
                        </div>
                        </div>
                    <div class="col-4 d-flex">
                        <div class="card">
                            <div id="carouselExample2" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div th:each="picture, iterStat : ${listaFotos2}">
                                        <div th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                            <img th:src="@{'/uploads/incidencia/'+${penultimaIncidencia.id}+'/'+${picture}}"
                                                 class="card-img-top">
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${penultimaIncidencia.descripcion}"></p>
                            </div>
                        </div>
                        </div>
                    <div class="col-4 d-flex">
                        <div class="card">
                            <div id="carouselExample3" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div th:each="picture, iterStat : ${listaFotos3}">
                                        <div th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                            <img th:src="@{'/uploads/incidencia/'+${antepenultimaIncidencia.id}+'/'+${picture}}"
                                                 class="card-img-top">
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${antepenultimaIncidencia.descripcion}"></p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>


        </section>
    </main>
</div>
</body>
