<!DOCTYPE html>

<body>
    <main th:fragment="terminos-y-condiciones">
        <section>
            <div class="row p-5 text-center about">
                <h1 class="display-3 fw-normal">TÉRMINOS Y CONDICIONES DE "INCIDEITOR"</h1>
                <p class="lead fw-normal"></p>
            </div>
        </section>
        <div class="row pt-4 pb-4">
            <div class="row justify-content-center">
                <div class="col-6">
                    <p>
                        Bienvenido/a a nuestra aplicación de Gestión de Incidencias. Antes de utilizar nuestra
                        aplicación, te pedimos que leas y aceptes nuestros Términos y Condiciones.
                        Estos términos establecen los derechos y responsabilidades que tienes al utilizar nuestra
                        aplicación, por lo que es importante que los comprendas y los aceptes antes de
                        continuar.
                    </p>
                    <ol>
                        <li>1. Aceptación de los Términos y Condiciones
                            <p>
                                Al utilizar nuestra aplicación de Gestión de Incidencias, aceptas cumplir y
                                estar sujeto a los siguientes términos y condiciones. Si no estás de acuerdo
                                con alguno de estos términos, te recomendamos que no utilices la aplicación.
                            </p>
                        </li>
                        <li>2. Uso de la Aplicación
                            <p>
                                Nuestra aplicación de Gestión de Incidencias se proporciona únicamente con
                                fines informativos y de gestión. No nos responsabilizamos por la exactitud,
                                integridad o confiabilidad de la información proporcionada a través de la
                                aplicación. El uso de la aplicación es bajo tu propio riesgo.
                            </p>
                        </li>
                        <li>3. Privacidad
                            <p>
                                Respetamos tu privacidad y nos comprometemos a proteger la información personal que
                                recopilamos a través de la aplicación. Al utilizar la aplicación, aceptas nuestra
                                Política de Privacidad, que describe cómo recopilamos, utilizamos y compartimos tu
                                información. Te recomendamos que revises nuestra Política de Privacidad antes de
                                utilizar la aplicación.
                            </p>
                        </li>
                        <li>4. Cuentas de Usuario
                            <p>
                                Para utilizar ciertas funciones de la aplicación, es posible que necesites crear una
                                cuenta de usuario. Al registrarte, debes proporcionar información precisa y completa.
                                Eres responsable de mantener la confidencialidad de tu nombre de usuario y contraseña,
                                y eres responsable de todas las actividades que ocurran bajo tu cuenta.
                            </p>
                        </li>
                        <li>5. Uso Adecuado
                            <p>
                                No debes utilizar la aplicación de manera que viole cualquier ley aplicable o
                                infrinja los derechos de terceros. No puedes realizar ninguna actividad que pueda
                                dañar, interferir, sobrecargar o afectar negativamente la operación de la aplicación.
                            </p>
                        </li>
                        <li>6. Propiedad Intelectual
                            <p>
                                La aplicación y todos los materiales relacionados son propiedad nuestra o de nuestros
                                licenciantes y están protegidos por las leyes de propiedad intelectual. No tienes
                                derecho a utilizar, copiar, modificar o distribuir ningún contenido de la aplicación
                                sin nuestro permiso previo por escrito.
                            </p>
                        </li>
                        <li>7. Limitación de Responsabilidad
                            <p>
                                En la máxima medida permitida por la ley, no seremos responsables por ningún daño
                                directo, indirecto, incidental, especial o consecuente que surja del uso o la
                                imposibilidad de uso de la aplicación, incluidos, entre otros, los daños por pérdida
                                de beneficios, interrupción del negocio, pérdida de información o cualquier otro tipo
                                de pérdida financiera.
                            </p>
                        </li>
                        <li>8. Modificaciones
                            <p>
                                Nos reservamos el derecho de modificar, suspender o descontinuar cualquier aspecto de
                                la aplicación en cualquier momento, sin previo aviso ni responsabilidad.
                            </p>
                        </li>
                        <li>9. Terminación
                            <p>
                                Nos reservamos el derecho de terminar tu acceso a la aplicación en cualquier momento,
                                por cualquier motivo y sin previo aviso.
                            </p>
                        </li>
                        <li>10. Ley Aplicable
                            <p>
                                Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes del
                                país o estado donde operamos, sin tener en cuenta sus disposiciones de conflicto de
                                leyes.
                            </p>
                        </li>
                    </ol>
                    <p>
                        Al utilizar nuestra aplicación de Gestión de Incidencias, reconoces y aceptas que
                        has leído, comprendido y aceptado estos Términos y Condiciones en su totalidad.
                        Si no estás de acuerdo con estos términos, no puedes utilizar la aplicación.
                    </p>
                </div>
            </div>
        </div>

    </main>

</body>
</html>